*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header nav{
    position: fixed;
    top: 0;
    height: 50px;
}
footer{
    min-height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}